*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background: rgb(216, 199, 199);
}
.container .marquee{
    width: 100%;
    height: auto;
    background: #052e59;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
}
.marquee p{
    position: absolute;
    left: 12px;
    text-transform: uppercase;
    color: red;
}
.container .marquee .marquee-Box{
    width: 90%;
    margin: 0 auto;
}
.container .tittle{
    width: 90%;
    /* background:#fff; */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.container .tittle .tittle-Box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 150px;
    height: 150px;
}
.container .tittle .tittle-Box .school-Name h1{
    color: rgb(157, 174, 79);
    line-height: 70px;

}
.container .tittle .tittle-Box .school-Name h3{
    color: rgb(25, 73, 110);
    line-height: 25px;

}
.container .tittle .tittle-Box .school-Name h4{
    color: rgb(175, 127, 15);
}
.container .tittle .tittle-Box .contract{
    text-align: center;
    background: #abb90a;
    padding: 10px;
    border-radius: 20px;
}
.container .tittle .tittle-Box .contract h3{
    /* background: #fff; */
    /* padding: 10px;
    border-radius: 10px; */
    text-transform: uppercase;
}
.icons{
    background: #052e59;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.icons a i{
    padding: 0 7px;
    color: #fff;
}
.icons:hover{
    background: rgba(255,255,255,1);
    color: #052e59;
}
.icons:hover a i{
    color: #052e59;
}
.icons a i:hover{
    background: rgba(255,255,255,1);
    font-size: 40px;
    border:3px solid black;
    border-radius: 50%;
    padding: 5px;
    transition: all linear .5s;
}
.icons a i:hover.fa-facebook{
    color: blue;
}
.icons a i:hover.fa-facebook-messenger{
    color: blueviolet;
}
.icons a i:hover.fa-twitter{
    color: aqua;
}
.icons a i:hover.fa-phone{
    color: green;
}
.container .navber{
    width: 100%;
    height: auto;
    background: #052e59;
}
.container .navber .menu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.container .navber .menu ul{
}
.container .navber .menu ul li{
    list-style: none;
    float: left;
    padding:20px;
}
.container .navber .menu ul li a:hover{
    background: #b07903;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: all linear .5s;
}
.container .navber .menu ul li.active{
    background: #b07903;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 0;
}
.container .navber .menu ul li a{
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
}
.container .navber .searchBox{
    position: relative;
    left: 50px;
}
.container .navber .searchBox input{
    font-size: 14px;
    padding: 5px;
    border-radius: 30px;
    border: none;
    outline: none;
    text-align: center;
}
.container .navber .searchBox input::placeholder{
    text-align: center;
    color: red;
    letter-spacing: 2px;
}
.container .navber .searchBox a{
    position: absolute;
    top: 5px;
    left: 10px;
    text-align: center;
}
.container .image-slide{
    width: 100%;
    height: 70vh;
    background: #fff;
    margin:0 auto;
    position: relative;
}

.container .image-slide img{
    width: 100%;
    height: 100%;
}
.ImgChangeButton {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
 .ImgChangeButton button{
    position: relative;
    top: -250px;
    font-size: 30px;
    background: rgba(0,0,0,.5);
    border: 2px solid rgb(7, 9, 69);
    border-radius: 30px;
    padding: 5px 10px;
    color: #fff;

 }
.button{
    width:70%;
    height: auto;
    position: relative;
    top:-50px ;
    /* background-color: #b07903; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    text-align: center;
    color: rgba(255,255,255,.8);
 }
.buttonBox{
    width: 15%;
    height: 200px;
    background: #052e59;
    border-radius: 20px;
    border: 1px solid #fff;
    text-transform: capitalize;
 }
 .buttonBox img{
    width: 70%;
    height: 120px;
    margin: auto;
 }
 .buttonBox:hover{
    width: 20%;
    height: 250px;
    background: aquamarine;
    color: tomato;
    transition: all linear .5s;
    position: relative;
    top: -50px;
 }
 .buttonBox:hover > h2{
    font-size: 30px;
    padding: 20px 0;
 }
 .massage{
    width: 90%;
    height: auto;
    margin: 0 40px;
    display: flex;
    /* justify-content:center; */
    /* align-items: center; */
 }
 .msgOwner{
    width: 300px;
    height: 300px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.5);
    margin: 0 100px 20px 100px;

 }
.msgOwner img{
    width: 300px;
    height: 300px;
    padding: 5px;
 }
 .msgText{

 }
 .msgText h1{
    letter-spacing:1px;
    text-transform: uppercase;
    line-height: 50px;
    border-bottom: 2px solid rgba(0,0,0,1);

 }
 .msgText span{
    line-height: 500px;
 }
.msgText p{
    padding-top: 40px;
    line-height: 25px;
 }
 .section{
    width: 100%;
    height: 100vh;
    padding: 30px;
    background:rgba(237, 222, 222, 0.7);
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
 }
 .history{
    margin: 25px auto;
    width: 70%;
    height: auto;
 }
 .historyTittle{
    text-align: center;
 }
 .historyTittle h1{
    text-transform: uppercase;
 }
 .historyTittle h1 span{
    text-transform: capitalize;
    color: green;
 }
 .historyTittle p{
    margin: 15px 0 50px 0;
    color: rgba(0,0,0,.6);
    font-size: .8rem;
 }

.historytext{
    width: 80%;
    background-color: #fff;
    color: black;
    margin: 0 auto;
}
.historytext h2{
    text-transform: capitalize;
    background: rgb(219, 222, 7);
    padding: 10px 20px;
}
.historytext p{
    padding: 30px;
    line-height: 1.5rem;
    font-size: 16px;
}
.noticeBoard{
    background: rgba(255,255,255,1);
    margin: 30px auto;
}
.noticeBoard h2{
    background: rgb(124, 210, 12);
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 1.5rem;
    letter-spacing: .2rem;
    word-spacing: .5rem;
}
.notice{
    padding: 20px 30px;
}
.notice ul li{
    list-style: none;
    line-height: 2rem;
}
.notice ul li a{
    text-decoration: none;
    color: #000;
}
.notice button{
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    background: #052e59;
    border: 1px solid tomato;
    float: right;
    text-transform: capitalize;
}
.notice button:hover{
    background: orange;
    border: 1px solid black;
    color: #000;
}

 /* sewction1  */
.section1{
    width: 100%;
    height: 300px;
    background: rgb(181, 133, 11);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionBox{
background:#fff;
margin: 0 50px;
/* padding: 20px; */
border-radius: 20px;
text-align: center;
overflow: hidden;
}
.sectionBox h1{
    text-transform: uppercase;
    font-size: 20px;
    background: #052e59;
    color: #fff;
    padding: 15px;

}
.sectionBox p{
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
    color: #052e59;

}

/* even  */
.evenHeader{
    text-align: center;
    margin: 50px 0 100px 0;
}
.evenHeader h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.evenHeader p{
    text-align: center;
    line-height: 50px;
}
.even{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;

}
.evenBox{
    width: 30%;
    height: 400px;
    border: 2px solid rgba(0,0,0,.5);
    background-color: rgba(255,255,255,.7);
    border-radius: 10px;

}
.evenBox img{
    width: 100%;
    height: 300px;
    padding: 10px;
    border-radius: 20px;
}
.evenBox p{
    text-transform: capitalize;
    margin: 5px 30px ;
}
.evenBox h1{
    text-transform:capitalize;
    margin: 10px 20px;
}


.address{
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #052e59;
    color: #fff;
    border-radius: 40px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    bottom: -100px;
}
.addressBox{
    padding: 40px;
    text-align: center;
    overflow: hidden;
}
.addressBox h2{
    text-transform: capitalize;
    line-height: 4rem;
}
.addressBox p{
    text-transform: capitalize;
}
/* footer  */
footer{
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,.8);
}
.footer-section1{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content:space-around;
    /* align-items: center; */
    padding: 150px 0;
}
.box{
    text-align: center;
}
.box img{
    width: 200px;
    height: 200px;
}
.box h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box p{
    color: #fff;
    text-transform: capitalize;
    line-height: 50px;
}
.footer-icons a i{
    color: #fff;
    font-size: 35px;
    padding: 20px 10px;
}
.footer-icons a :hover.fa-facebook{
    color: blue;
    font-size: 60px;
    transition: all linear .5s;
}
.footer-icons a :hover.fa-facebook-messenger{
    color: blueviolet;
    font-size: 60px;
    transition: all linear .5s;
}
.footer-icons a :hover.fa-twitter{
    color: aquamarine;
    font-size: 60px;
    transition: all linear .5s;
}
.footer-icons a :hover.fa-phone{
    color: green;
    font-size: 60px;
    transition: all linear .5s;
}
.box ul li {
    list-style: none;
    text-align: left;
    padding: 5px;
}
.box ul li a{
   text-decoration: none;
   color: #fff;
}
.box ul li:hover{
    background: rgba(255,255,255,.8);
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    transition: all linear 1s;
 }
 .box ul li:hover a{
    color: tomato;
 }
footer .footer-section2{
    background: rgba(0,0,0,.9);
    padding: 15px;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
}