*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    font-family: Roboto,sans-serif,arial;
    font-size: 16px;
    color: #242424;
}

.width-100{
    width: 100%;
    float: left;
}
.top_header{
    width: 100%;
    height: auto;
    background: #030352;
}
.container{
    width: 1500px;
    margin: 0px;
    padding: 0px;
}
.text-center{
    text-align: center;
    text-decoration: none;
}
.wcolor{
    color: white;
}
.bcolor{
    color: black;
}
.redcolor{
    color: red;

}
.notice-box{
        width: 100%;
        height: 50px;
        padding: 5px;
        background-color: rgb(3, 3, 82);
        box-sizing: border-box;   
}
.notice{
    color: red;
    padding: 6px;
    font-size: 20px;
}
.ntext{
    color: #fff;
    font-size: 18px;
    padding: 1px;
    width: 80%;
}
.box{
    width: 100%;
    height: 250px;
    padding: 10px;
    border: 2px rgb(147, 32, 32);
    background-color: #e5e9ea;
    box-sizing: border-box;   
}

 
.logobox{ width: 200px;
    height: 200px;
    background-color: #e5e9ea;
    margin-left: 300px;
    float: left;
}
.logo1{ 
    width:auto;
    height: auto;
}

.name-box{
    width: 500px;
    height: 200px;
    background-color: #e5e9ea;
    margin-left: 700px;
    text-align: center;
    line-height: 50px;
}
.call-box{
    width: 200px;
    height: 100px;
    background-color: #609473;
    margin-left: 1400px;
    font: optional;
    text-align: center;
    float: right;

}

.scname{
    text-align: center;
    margin-right: 500px;
}
.call{
    float: right;
    width: fit-content;
    width: 50px;
    height: 35px;
    float: left; 
   margin-right: 30px;
   
}
.right{
    float: right;
}
.callbox{
        width: 225px;
        height: auto;
        padding: 10px;
        border: 2px rgb(147, 32, 32);
        background-color:  #e5e9ea;
        box-sizing: border-box;   
        float: right;
        margin-right: 400px;
        margin-top: 50px;
}

.my-menu{
    width: 100%;
    height: 85px;
    padding: 10px;
    border: 2px #e5e9ea;
    background-color: rgb(3, 3, 82);
    box-sizing: border-box; 
}
.manu li{
    list-style: none;
    width: 160px;
    height: 50px;
    background-color: rgb(3, 3, 82);
    margin: 0px;
    text-align: center;
    line-height: 50px;
    float: left;
}
.manu li a{
    color: #fff;
    display: block;
    font-size: 20px;
    text-decoration: none;
    text-wrap:nowrap;
}

.icon{
    width: fit-content;
    width: 50px;
    height: 35px;
}
.icon-li :hover{
    background-color:  rgb(3, 3, 82)!important ;
}
.manu li :hover{
    background-color:  #842121!important ;
}

.imgbox{
    width: 100%;
    height: 1000px;
    padding: 0px;
    border: 2px rgb(147, 32, 32);
    background-color: #b0d7e0;
    box-sizing: border-box; 
    position: relative;
    overflow: hidden;  
}

.banerfit{
    width: 100%;
    height: 1000px;
  }

  .iconbox{
        width: 100%;
        height:250px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:25px;
        float: right;
  }
  .iconbatton{
    width: 250px;
    height: 250px;
    background-color: #030352;
    box-sizing: border-box;
    margin-left:10px ;
    border-radius: 20px;
}
  .iconimg{
    width: 200px;
    margin: 1%;
    margin-left: 20px;
  }
  .icontext1{
    color: #fff;
    text-align: center;
    text-decoration: none;
    line-height: 50px;

  }

  .main-box{
    width: 100%;
        height:auto;
        background-color: #fafaf9;
        flex-direction: row;
        justify-content: space-around;
        float:left;
  }

  
  .sidebox{
    width: 25%;
    height:1600px;
    background-color: #f4f4f0;
    border: 2px solid #030352;
    box-sizing: border-box;
    box-shadow: #030352;
    margin: 5%;
    margin-left: 70%;
}

.sliderimgbox1{
    width: 400px;
    height: 600px;
    background-color: #f4f4f0;
    margin-top: 10%;
    margin-left: 5%;
    
}
.sliderimgbox2{
    width: 400px;
    height: 600px;
    background-color: #f4f4f0;
    margin-top: 200px;
}

.imgheadertext{
    text-align: center;
    line-height: 50px ;
}
.imgheader{
    width: 300px;
    height: 50px;
    background-color: #a6a6e6;
    margin-top: 1500px;
    margin: 1%;
    margin-left: 10%;
    border-radius: 10px;
}
.fitslideimg{
    width: 100%;
    height: 100%;
}
 .box1{
        width: 60%;
        height:500px;
        background-color: rgb(88, 88, 120);
        margin: 5%;
       float: left;
 }
.noticeboard-header{
    width: 98%;
    height: 40px;
    background-color: #660000;
    margin: 1%;
    color: white;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    border-radius: 8px;   
}
.notice-marquee{
    height: 400px;
    font-size: 25px;
    padding: 8%;
}

.box3{
    width: 60%;
        height:500px;
        background-color: #4625be;
        margin-left: 5%;
        float: left;
}
.fa{
    color: black;
}

.box4{
    width: 60%;
        height:500px;
        background-color: #4625be;
        margin-left: 5%;
        margin-top: 5%;
       float: left;

}







.footer{
    width: 100%;
    height:500px;
    background-color: #030352;
    margin-top: 4%;
   float: left;
}
.footer h1 {
    color: white;
    text-align: center;
    font-size: 50px;
    line-height: 500px;
}