
.container{
    display: grid;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .3fr 1.5fr .1fr 1.3fr .8fr;
    grid-template-areas: "naiber naiber naiber naiber"
                         "slider main main main"
                         "slider notice-ber notice-ber notice-ber "
                         "slider box1 box2 box3 "
                         "slider footer footer footer" ;

                         grid-gap: .2rem;
                         text-align: center;
                        


}
 
nav{background-color: rgb(2, 2, 66);
    grid-area: naiber;
}
main{background-color: rgb(255, 255, 255);
    grid-area: main;
}
.notice-ber{
    background-color: blue;
    grid-area: notice-ber;
}
.slider{background-color: aqua;
    grid-area: slider;

}

.box1{background-color: blueviolet;
    grid-area: box1;
    

}
.box2{background-color: rgb(99, 72, 124);
    grid-area: box2;
    

}
.box3{background-color: rgb(70, 6, 174);
    grid-area: box3;

}
footer{background-color: black;
    grid-area: footer;

}

@media only screen and (max-width: 640px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.01fr 1fr 0.1fr 1.2fr 1.2fr 1.2fr  1.2fr 1fr;
        grid-template-areas: "naiber"
                             "main"
                             "notice-ber"
                             "box1"
                             "box2"
                             "box3"
                             "slider"
                             "footer";


    }
}


.banerfit{
    width: 100%;
    height: 300px;
  }

  .notice-ber a{
    color: red;
    font-size: 20px;
  }
  
  .notice-ber marquee {
    color: white;
    font-size: 14px;
    width: 90%;
  }
    .ntext{
    color: #fefdfd;
    font-size: 14px;
    width: 90%;
    }

  .imageheader{
    font-size: 16px;
    color: red;
  }
  .imageheader a {
    color: black;
    font-size: 14px;
  }
  .img{
    width:250px;
    height: 250px;
  }

  .manu{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 16px;

  }

  .manu li{
    display: inline;
}

.manu li a{
    padding: 12px 15px;
    color: white;
    text-decoration: none;

}
.manu li  :hover {
    padding: 12px 15px;
    background-color: blueviolet;
    text-decoration: none;

}
.home-icon{
    width: 5px;
    height: 5px;
    background-color: #fefdfd;
}

.icon{
    width: fit-content;
    width: 50px;
    height: 35px;
}
.nav-logo{
    width: 30px;
    height: 30px%;

}

.display-icon{
    width: 150px;
    height: 150px;
}

.full-footer{
    display: flex ;
    text-wrap: nowrap;
}


.footer-logo{
    margin: 15px;
    padding-left: 150px;
    width: 100px;
    height: 100px;
}
.footer-text{
    margin: 15px;
    padding-left: 100px;
    font-size: 15px;
}
  
.footer-icon img {
    margin: 5px;
    width: 25px;
    height: 25px;
}
.footer-icon {
    margin: 25px;
    padding: 5px;
    padding-left:50px;
}
.copyr8 {
    font-size: 16px;
    color: red;
}