*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    justify-content: center;
    align-items: center ;
    background-image: linear-gradient(to right, red,orange);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
.fixhdr{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
    background: #7e2d2d;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    border-bottom: 0.4em solid #6b2e94;

}
.fx_hdr_wrap {
    width: 90%;
    padding: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: -2.093em;  
}
.btn1 {
    padding: 0.118em 24px 0.353em 10px;
    margin: 0 0 0 15px;
    font-size: 0.9em;
    line-height: 1.498em;
    float: right;
    color: #fff;
    background: #ed1c24;
    position: relative;
    text-decoration:none ;

}


.container{
    display: grid;
    width: 95%;
    height: auto;
    padding: 10px;
    margin: 2px 0 2px 30px;
    /border: 3px solid rgb(16, 194, 31);
   /background-color: antiquewhite;
    ackground: transparent;
    grid-template-columns: 30fr 10fr;
    grid-template-rows: 1fr .5fr .1fr 2.5fr .5fr ;
    grid-template-areas: "headerbox headerbox"
                         "sliderbox noticebox"
                         "battonbox noticebox"
                         "infobox noticebox"
                         "footerbox footerbox"
                         ;

                         grid-gap: .2rem;
                         text-align: center;
   
}

.header-box{
    grid-area: headerbox;
    ,background-color: aqua;
    color: red;
}

.header-box a img{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.header-box .name-header{
    color: black;
    margin: 0;
    padding: 40px;
    text-align: left;
}
.social-icons {
    ackground-color: #6b2e94;
    position: absolute;
    padding: 10px;
    right: 150px;
    top: 100px;
}
.social-icons a i{
     padding: 10px;
}

.menu-box{
    ,background-color: white;
    width: 100%;
    height: 50px;
    margin-top: 60px;
    border-radius: 8px;
    padding: 0px;

}
.menu-box ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 10px;

}

.menu-box ul li a {
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    float: left;
    font-size: 16px;
    color: #000;
    font-style: italic;
    border-bottom: 3px solid black;

}

.menu-box ul li :hover {
    padding: 7px 10px;
    background-color: rgb(221, 138, 12);
    color: white;
    border-radius: 10px;
    transition: .5s;
}

.notice-marqee{
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid black;
    border-radius: px;
    background-color: #fff;
    line-height: 1.118em;
    margin-bottom: 5px;
}

.notice-marqee span{
    float: left;
    background-color: orange;
    color: black;
    padding: 5px;
    font-size: 18px;
}

.notice-marqee marquee{
    color: red;
    width: 90%;
    font-size: 16px;
    font-style: italic;
    padding-top: 5px;
}

/* end of header-box css */


/* slider a photo add er kaj kora hoyese  */

.slider-box{
    grid-area: sliderbox;
}

section img {
    display: block;
    width: 100%;
    height: 285px;
}

/* end of slider a photo add  */

/* ei khane notice box er kaj kora hoyese  */
.notice-box{
    grid-area: noticebox;
    background: transparent;
}

.block1{
    width: 100%;
    height: 285px;
    background-color: wheat;
    border-radius: 5px;

}
.block1-tittle{
    width: 100%;
    height: auto;
    background-color: #ed1c24;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
}
.block1-tittle p {
    font-size: 18px;
    font-style: bold;
    padding: 2px;
}
.ntc marquee{
    height:225px;
    border-radius: 5px;
}
.ntc ul{
    list-style: none;
}
.ntc ul li {
    padding: 8px;
    margin: 0;
}
.ntc ul li a {
    text-decoration: none;
    color: black;
}
.ntc-date {
    width: 73px;px;
    eight: 90%;
    float: left;
    margin: .111em 10px 0 0 ;
    background:#e6caca;
    font-size: .86em;
    line-height: 1em;
    color: #5e5b5c;
    text-align: center;
}
.ntc-date span{
    display: block;
    padding: 0 0 0 0;
    font-size: 1em;
    line-height: 1.467em;
    color: #fff;
    background-color: green;
    border-radius: 3px 3px 0 0 ;
}

.ntc a {
    color: #000;
    float: right;
    padding-right: 30px;
}

.block-information a{
    margin: 5px;
    padding: 2px;
    text-align: left ;
}
#block{
    color: white;
    font-size: 18px;
    text-align: left ;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
}

.blockx :hover{
    background-color: rgb(10, 10, 10);
    color: red;
}
#block a{
    font-size: 16px;  
    margin: 5px;
    padding: 2px;
    text-align: left ;
}
.block-information{
    background-color: rgb(72, 205, 92);
}
.block-class-rutin{
    background-color: rgb(196, 137, 21);
}
.block-exam-rutin{
    background-color: rgb(13, 226, 237);
}
.block-result{
    background-color: rgb(38, 75, 178);
}
/* end of notice box er kaj  */


/* exta niser ses er box er kaj  */
.blocky{
    display: block;
    height: 80%;
    background-color: wheat;
    margin: 5px;
    padding: 2px;
    text-align: left;
    border-radius: 5px;
    overflow: scroll;
}

.blocky p {
    position:absolute;
    width: 230px;
    padding: 5px;
    background-color: #319b2e;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    font-size: 18px;

}
.blocky ol {
    margin-top: 35px;
}
.blocky  li {
    padding: 5px 0 0 0;
    margin: 0 0 0 25px;
    
}

/* end of exta niser ses er box er kaj  */

/* START CSS OF BUTTON  */
.button-box{
    grid-area: battonbox;
}

.buttonbox-body{
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.buttonbox-body button{
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(4, 4, 4);
    border-radius: 10px;
    border-bottom: solid rgb(8, 222, 37);
}
.buttonbox-body button:hover{
    background-color: #319b2e;
    border-bottom: 10px solid rgb(37, 5, 94);
}



/* END CSS OF BUTTON  */


/* start of info-box css  */
.info-box{
    width: 100%;
    height: 100%;
    grid-area: infobox;
}
.block-info{
    width: 100%;
    height: fit-content;
    padding: 10px;
}
.person{
    display: flex ;
    /border: 2px solid rgb(134, 25, 25);
    margin-top: 10px;
    margin-bottom: 50px;
    
}
.person-img {
    display: block;
    width: 150px;
    height: 150px;
    background: #fffefe;
    margin: 5px 0 0 50px;
}
.person-img img {
    width: 150px;
    height: 150px;
    border: 2px solid yellow;
}
.person-title{
    background: #7555bf;
    width: 150px;
    height: auto;
    color: red;
    background: #fff;
    margin: 20px 0 0 50px ;
    padding: 5px;

}
.person-name {
    width: 150px;
    height: auto;
    color: black;
    ackground: #000;
    margin: 5px 0 20px 50px ;
    padding: 2px;
}
.person-msg{
    width: 90%;
    height: auto;
    /background: #8c7c7c;
    /border: 2px solid white;
    margin: 20px 0 20px 20px ;
}
.person-msg p{
    text-align: left;
    padding: 20px;
    font-size: 16px;
}

/* end of info-box css  */


/* footer  er model  */
.footer-box{
    grid-area: footerbox;
}
footer{
    display: grid;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 5px;

    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: .1fr .5fr ;
    grid-template-areas: "logo text2 icons"
                         "copyr8 copyr8 copyr8"
                         ;
                         text-align: center;

}

.footer-logo{
    grid-area: logo;
    width: 100%;
    height: auto;
    margin: 30px 0 0 0;
}
.footer-text{
    grid-area: text2;
    width: 100%;
    height: auto;
    text-align: left;
    margin: 30px 0 0 0;
    border-right: 1px solid wheat;
}
.footer-text h4 {
    padding-top: 10px;
}
.footer-text h5 {
    padding-top: 5px;
}
.footer-text span {
    padding-top: 5px;
}
.footer-icons p {
    width: 150px;
    height: auto;
    padding: 10px;
    margin-left: 30%;
    border: 2px solid rgb(176, 218, 27);
    border-radius: 10px;
    background-color: antiquewhite;
    color: red;
}
.footer-icons{
    grid-area: icons;
    display: block;
    width: 100%;
    height: auto;
    padding: 60px 0 0 0;
    margin: 0 ;
}
.footer-icons a {
    width: 100px;
    height: 40px;
    margin: 5px;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
}

.footer-icons span :hover {
    border-radius: 10px;
    background: red;
}

.copyr8{
    grid-area: copyr8;
    width: 80%;
    height: auto;
    padding: 10px 0 0 0 ;
    margin: 10px 0 0 60px ;

}
.copyr8 span{
    font-size: 14px;
    padding: 10px;
    margin: 5px 0 0 0;
    border-bottom: 1px solid rgb(17, 17, 16);
    border-radius: 10px;
}


.footer-logo img {
    grid-area: footerlogo;
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 0 0 25px;
    border-right: 1px solid wheat ;
}

.main-body{
    width: 90%;
    height: 100%;
    margin: 10px 0 0 100px;
    padding: 10px;
    border: 10px  solid white;
}
/* footer er kaj ses  */

@media only screen and (max-width: 640px){
    .container{
        grid-template-columns: 2fr;
        grid-template-rows: 0.01fr 2fr 1fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "headerbox "
                             "sliderbox"
                             "noticebox"
                             "battonbox"
                             "infobox"
                             "footerbox";

    }
}
